patch/
patches/
checkpointSearch/
__pycache__/
.vscode/
**/*.pyc
line.txt
ans.txt
timeg.txt
code.java
out/
log/
sim/
sim-*/
build/
d4j/
out-*/
d4j-*/
buggy/
buggy-*/
rq1/
original/
*.tar.gz
*.tar.xz
alpha/
sync.sh